version: '3.7'

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-Laravel
    volumes:
      - ./src:/var/www/html
    ports:
      - "8000:8000"
